/* src/index.css */
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; margin: 20px; background:#f7fafc; color:#111827;}
h1 { font-size: 2rem; font-weight: 700; margin-bottom: 1rem; }  
h2 { font-size: 1.5rem; font-weight: 600; margin-top: 1.5rem; margin-bottom: 1rem; }
input[type="text"] { padding: 0.5rem; font-size: 1rem; width: 300px; border: 1px solid #d1d5db; border-radius: 0.375rem; }
button { padding: 0.5rem 1rem; font-size: 1rem; background-color: #3b82f6; color: white; border: none; border-radius: 0.375rem; cursor: pointer; }
.input-url { margin-right: 0.5rem; border: 4px solid #2e2e30ff; border-radius: 0.375rem; overflow: hidden; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); padding: 1rem; }
button:hover { background-color: #2563eb; }
.videos-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 1rem; margin-top: 1rem; }
.video { border: 1px solid #e5e7eb; border-radius: 0.375rem; overflow: hidden; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
.video-thumbnail { position: relative; }
.video img { width: 100%; height: auto; position: relative; }
.video-details { padding: 0.5rem; }
.dot{ height: 4px; width: 4px; background-color: #6b7280; border-radius: 50%; display: inline-block; margin: 0 4px; }
.video-description { font-size: 0.875rem; color: white; margin: 0; position: absolute; bottom: 10px;right: 10px;  background-color: black; padding: 0.25rem; border-radius: 0.25rem; }
.video-title { font-size: 1rem; font-weight: 600; margin: 0.5rem 0; }
.video-numbers { display: flex; align-items: center; gap: .3rem; font-size: 0.875rem; color: #6b7280; margin-bottom: 0.5rem; }
.video-channel { font-size: 0.8rem; color: #6b7280; margin: 0; }
.pagination { display: flex; justify-content: center; gap: 1rem; margin-top: 1rem; }
.pagination button { background-color: #10b981; }
.pagination button:hover { background-color: #059669; }
.loading { font-size: 1.5rem; font-weight: 500; text-align: center; margin-top: 2rem;border: 1px solid #e5e7eb; border-radius: 0.375rem; overflow: hidden; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);  padding: 2rem; height: 100%; }